# Django settings
DEBUG=True
SECRET_KEY=django-secret-key-here
ALLOWED_HOSTS=localhost

# Postgres settings for Docker Compose
DB_NAME=db-name
DB_USER=db-user
DB_PASSWORD=db-password
DB_HOST=db
DB_PORT=5432

# For Render deployment, we can use the DATABASE_URL environment variable directly
# postgres://username:password@host:port/database_name
# Need to ensure this matches the DB_USER, DB_PASSWORD, DB_HOST, DB_PORT, and DB_NAME values above
DATABASE_URL=postgres://db-user:db-password@db:5432/db-name

# Google Books API
GOOGLE_BOOKS_API_KEY=Google-Books-API-key