# Django settings
DEBUG=True
SECRET_KEY=django-secret-key-here

# Postgres settings
DB_NAME=db-name
DB_USER=db-user
DB_PASSWORD=db-password
DB_HOST=db
DB_PORT=5432

# Google Books API
GOOGLE_BOOKS_API_KEY=Google-Books-API-key