{% extends "catalog/index.html" %}
{% block content %}
{% load static %}

<header class="py-5"  style="
    background-image: url('/static/catalog/assets/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">
                {% block header_title %}
                חיפוש ספרים
                {% endblock header_title %}
            </h1>
<!--                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>-->
            <form method="GET" class="row g-3 justify-content-center mt-4">
                <div class="col-md-3">
                    <input
                        type="search"
                        class="form-control"
                        placeholder="📚 שם ספר או ISBN"
                        name="search-title"
                        value="{{ search_title }}">
                </div>

                <div class="col-md-3">
                    <input
                        type="search"
                        class="form-control"
                        placeholder="✍️ שם הסופר"
                        name="search-author"
                        value="{{ search_author }}">
                </div>

                <div class="col-md-3">
                    <input
                        type="search"
                        class="form-control"
                        placeholder="📍 מיקום"
                        name="search-location"
                        value="{{ search_location }}">
                </div>

                <div class="col-md-3">
                    <input
                        type="search"
                        class="form-control"
                        placeholder="📤 למי מושאל"
                        name="search-person-loaned-to"
                        value="{{ search_person_loaned_to }}">
                </div>

                <div class="col-md-2 d-grid">
                    <button class="btn btn-success">
                        🔍 חפש
                    </button>
                </div>
            </form>



        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for book in books %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ book.get_cover_image }}"
                         style="width: 100%; height: 65%; object-fit: cover;" alt="{{ book.title }}" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ book.title }}</h5>
                            <div class="small text-muted mb-2">
                                <i class="bi bi-pen"></i> {{ book.author }}
                            </div>

                            {% if book.location %}
                            <div class="small text-muted mb-2">
                                <i class="bi bi-geo-alt-fill"></i> {{ book.location }}
                            </div>
                            {% endif %}

                            {% if book.is_loaned %}
                                <div class="mt-2">
                                    <span class="badge rounded-pill bg-success shadow-sm text-wrap d-inline-block" style="max-width: 100%; text-align: right;">
                                        <i class="bi bi-person-fill"></i> מושאל ל: {{ book.person_loaned_to }}
                                    </span>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'book_view' book.id %}">פרטים</a></div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="row justify-content-center">
                <div class="text-center py-5">
                    <div class="mb-4">
                        <i class="bi bi-search" style="font-size: 3rem; color: #6c757d;"></i>
                    </div>
                    <h2 class="fw-bolder">לא נמצאו ספרים</h2>
                    <div class="mt-4">
                        <a href="{% url 'home' %}" class="btn btn-primary">חזרה לרשימה המלאה</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
    <div class="pagination d-flex justify-content-center">
        <span class="step-links " style="white-space: nowrap;">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.paginator.num_pages }}">&laquo; אחרון</a>
                <a href="?page={{ page_obj.next_page_number }}">הבא</a>
            {% endif %}

            <span class="current">
                עמוד
                {{ page_obj.number }}
                מתוך
                {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">קודם</a>
                <a href="?page=1"> ראשון&raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</section>


{% endblock content %}