{% extends "catalog/index.html" %}
{% block content %}
{% load static %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            {% for book in books %}
            <div class="col mb-5">
                <div class="card h-100">
                    {% if book.cover_image is not None %}
                        <img class="card-img-top" src="{{ book.cover_image }}" width="200" height="250" alt="{{ book.title }}" />
                    {% else %}
                        <img class="card-img-top" src="{% static 'catalog/assets/placeholder_image.jpg' %}" width="200" height="250" alt="{{ book.title }}" />
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ book.title }}</h5>
                            {{ book.author }}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">פרטים</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock content %}